html {
    padding: 2vw;
}

body {
    padding-bottom: 8vw;
}

h3 {
    white-space: nowrap;
    margin-top: 0;
}

#warning {
    color: #B00020;
}

#web {
    position: absolute;
    right: 2vw;
    bottom: 0;
    color: #5f6368;
}

#logo {
    width: 8vw;
}